*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #4682B4;
    margin-left: 7%
}

#subtitulo {
    font-family: sans-serif;
    color: #4682B4;
    margin-left: 10%;
}

#check {
    display: inline-block;
}

fieldset {
    border: 0;
}

body{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: #4682B4;
    margin-left: 36%;
    margin-top:2%;
    justify-content: center;
}

input, select, textarea, button{
    font-family: sans-serif;
    font-size: 1em;
    color: #4682B4;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #4682B4;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right:1em;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="date"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #4682B4;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    height: 20px;
}

.campo select {
    height: 29px;
}

.campo textarea{
    height: 65px;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #d0e8f5;
    }

.botao {
    font-size: 1.2em;
    background: #4682B4;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff; 
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    margin-left: 7em;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 10%;
}

.botao:hover {
    background: #6cd1eb;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

#nascimento {
    width: 196px;
}

#genero {
    width: 202px;
}
